body {
    font-family: sans-serif;
}
#generate {
    position: relative;
    background-color: green;
    padding: 12px 12px;
    left: -180px;
    top: 40px;
}
#result {
    position: relative;
    top: 30px;
}